form {
    width: 800px;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 90%;
}

.form--inputs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

input,
button {
    padding: 1em 2em;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    font-family: inherit;
}

input {
    width: 300px;
    text-align: center;
}

button {
    width: 100%;
    background: linear-gradient(to right, #2bc0e4, #eaecc6);
    font-size: 16px;
    cursor: pointer;
}

.meme-image {
    display: block;
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
}