section {
    height: 100vh;
}

/* FORM  */
form {
    width: 800px;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 90%;
}

.form--inputs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

input,
button {
    padding: 1em 2em;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    font-family: inherit;
}

input {
    width: 300px;
    text-align: center;
}

button {
    width: 100%;
    background: linear-gradient(to right, #2bc0e4, #eaecc6);
    font-size: 16px;
    cursor: pointer;
}

/* MEME */
.meme-image {
    display: block;
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    border-radius: 5px;
}

.box {
    border: 1px solid black;
    width: 50px;
    height: 50px
}

/* MEME TEXT AREA */
.meme {
    position: relative;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

